Package: weston
Source: weston
Version: 5.0.0-3-var-dpu-g2d-rdp
Architecture: arm64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 10928
Depends: adduser, libegl1-mesa (>= 8.0-2) | libegl1-x11, libwayland-egl1 (>= 1.15.0), libgles2-mesa (>= 8.0-2) | libgles2, imx-gpu-viv-core, libc6 (>= 2.17), libcairo2 (>= 1.16.0-4), libcolord2 (>= 1.4.3), libdrm2 (>= 2.4.3), libglib2.0-0 (>= 2.31.8), libinput10 (>= 0.15.0), libjpeg62-turbo (>= 1.3.1), liblcms2-2 (>= 2.2+git20110628), libpam0g (>= 0.99.7.1), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpixman-1-0 (>= 0.30.0), libpng16-16 (>= 1.6.2-1), libsystemd0, libwayland-client0 (>= 1.11.91), libwayland-cursor0 (>= 1.11.91), libwayland-server0 (>= 1.11.91), libwebp6 (>= 0.5.1), libweston-5-0 (>= 5.0.0), libxkbcommon0 (>= 0.5.0), zlib1g (>= 1:1.1.4), freerdp2-dev
Recommends: libgl1-mesa-dri
Section: x11
Priority: optional
Homepage: http://wayland.freedesktop.org/
Description: reference implementation of a wayland compositor
 Part of the Wayland project is also the Weston reference implementation
 of a Wayland compositor. Weston can run as an X client or under Linux
 KMS and ships with a few demo clients. The Weston compositor is a minimal
 and fast compositor and is suitable for many embedded and mobile use
 cases.
