Package: libweston-5-dev
Source: weston
Version: 5.0.0-3-var-dpu-g2d-rdp
Architecture: arm64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 171
Depends: libweston-5-0 (= 5.0.0-3-var-dpu-g2d), libwayland-dev, libpixman-1-dev, libxkbcommon-dev
Breaks: weston (<< 1.12.0-1)
Replaces: weston (<< 1.12.0-1)
Section: libdevel
Priority: optional
Homepage: http://wayland.freedesktop.org/
Description: reference implementation of a wayland compositor (shared libs)
 Part of the Wayland project is also the Weston reference implementation
 of a Wayland compositor. Weston can run as an X client or under Linux
 KMS and ships with a few demo clients. The Weston compositor is a minimal
 and fast compositor and is suitable for many embedded and mobile use
 cases.
 .
 This package includes the libweston headers.
